<div class="container">
  <div class="header">
    <h1><%= @task.title %></h1>
    <%= link_to '<i class="fa-solid fa-pen-to-square"></i> Edit this task'.html_safe, edit_task_path, class: 'icon' %>
  </div>
  <div class="alert alert-secondary">
    <p><%= @task.details %></p>
  </div>

  <p><%= @task.completed? %></p>

  <br>
  <%= link_to '<i class="fa-solid fa-arrow-left"></i> Back to the list'.html_safe, tasks_path, class: 'icon' %>
</div>
